<mat-icon matListItemIcon>home</mat-icon>
<span matListItemTitle>Home</span>

<div class="w-full mt-3">
    <div class="flex align-items-center ">

        <div class="btn-dashboard">
            <mat-icon matListItemIcon class="custom-icon">build</mat-icon>
            <span >Explore the technicals</span>
        </div>


        <div class="btn-petition align-items-center">
            <mat-icon matListItemIcon class="custom-icon">mail</mat-icon>
            <span >Wait your new Messages</span>
        </div>

    </div>

    <div class="block align-items-center justify-content-center">
        <div class="btn-Task ">
            <mat-icon matListItemIcon class="custom-icon">schedule</mat-icon>
            <span >Not event a repair procese</span>
        </div>
    </div>

</div>
