<div class="sidenav-header" >
  <img
    src="https://scontent.flim17-1.fna.fbcdn.net/v/t39.30808-6/229910236_1177783319355671_3395509406483665948_n.png?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGqEegA0_Mz-pUEmMCN1cRG2hoqagIIQMXaGipqAghAxV4XYA-fxV64-Wn-BFPSzIw93J71Crq8LbDrn9AB5jrH&_nc_ohc=H1UVxKcTScIAX_ox_8x&_nc_ht=scontent.flim17-1.fna&cb_e2o_trans=t&oh=00_AfD11cWdHTCD8Dx-BTkls49dn-1x8P2lyKKtMZA0vivOzw&oe=6562EFB9"  />

  <div class="header-text"  >
    <h2>{{user?.username}}</h2>

  </div>

  <mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()" (click)="CambiarRuta(item.route)" >
      <mat-icon matListItemIcon >{{item.icon}}</mat-icon>
      <span matListItemTitle  >{{item.label}}</span>
    </a>
  </mat-nav-list>

</div>
