<mat-icon matListItemIcon>home</mat-icon>
<span matListItemTitle>Home</span>

<div class="w-full mt-3">
    <div class="flex align-items-center ">

        <div class="btn-dashboard">
            <mat-icon matListItemIcon class="custom-icon">dashboard</mat-icon>
            <span >Explore your dashboard</span>
        </div>


        <div class="btn-petition align-items-center">
            <mat-icon matListItemIcon class="custom-icon">mail</mat-icon>
            <span >Wait your new petition</span>
        </div>

    </div>

    <div class="block align-items-center justify-content-center">
        <div class="btn-Task ">
            <mat-icon matListItemIcon class="custom-icon">task</mat-icon>
            <span >Add a new task</span>
        </div>
    </div>

</div>



