
<div>
  <form [formGroup]="formrequest" (submit)="send()">
    <div>
      <label for="name">Name </label><br>
      <input type="text" id="name" formControlName="name">
    </div>
    <div>
      <label for="number">Number</label><br>
      <input type="text" id="number" formControlName="number">
    </div>
    <div>
      <label for="day">Date</label><br>
      <input type="date" id="day" formControlName="day">
    </div>
    <div><label for="hour">Hour</label><br>
    <input type="time" id="hour" formControlName="hour"></div>
    <div>
    <label for="cellphone">Cellphone</label><br>
    <input type="text" id="cellphone" formControlName="cellphone">
    </div>
    <div>
      <label for="Problem">Problem</label><br>
      <input type="checkbox" id="Problem" formControlName="Problem" ><p>Batery</p>
      <input type="checkbox" id="Screen" formControlName="Problem"><p>Screen</p>
      <input type="checkbox" id="Virus" formControlName="Problem"><p>Virus</p>
      <input type="checkbox" id="Other" formControlName="Problem"><p>Other</p>
    </div>
    <div>
      <div>
        <label for="Specification">Specification</label><br>
        <input type="text" id="Specification" formControlName="Specification">
      </div>
    <button [disabled]="formrequest.invalid">Send Request</button>
    </div>
  </form>
</div>


