<div>
  <br>
  <mat-card>
    <form>
      <mat-grid-list cols="2" rowHeight="70px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field class="container">
            <mat-label >
              Client's Name
            </mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="6" [style.background]="'lightblue'">
          STEPS
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="container">
            <mat-label >
              Cellphone's name
            </mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="container" >
            <mat-label >
              Problem
            </mat-label>
            <input matInput>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field *ngIf="enableSelect" style="width: 80%;">
            <mat-label>Select  components</mat-label>
            <mat-select multiple (selectionChange)="onSelectChange($event)">
              <mat-select-trigger>
                {{ selectedComponents.length ? selectedComponents.join(', ') : 'Select components' }}
              </mat-select-trigger>
              <mat-option *ngFor="let option of componentOptions" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="!enableSelect" style="width: 80%;">
            <mat-form-field class="container" style="width: 100%;">
              <mat-label class="label-width">Components</mat-label>
              <input matInput placeholder="Write Components">
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <div style="display: flex; justify-content: space-between;">
            <button mat-button color="primary" (click)="enableSelect = true" *ngIf="!enableSelect"> <mat-icon>inventory</mat-icon> Inventory</button>
            <button mat-button color="primary" (click)="enableSelect = false" *ngIf="enableSelect">Return to Text</button>
          </div>
        </mat-grid-tile>




        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="container" >
            <mat-label>
              Delivery Date
            </mat-label>
            <input matInput [type]="'date'">
          </mat-form-field>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
          INCOME
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="2" [style.background]="'lightblue'">
          PROGRESS
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'">
          buton
        </mat-grid-tile>

      </mat-grid-list>

    </form>
  </mat-card>
</div>
